In [1]:
import pandas as pd

In [3]:
dataset=pd.read_csv("https://raw.githubusercontent.com/Jomuel-net/AI-finance-project/refs/heads/main/Data%20set/data_bank_alaska.csv")

C:\Users\jomue\AppData\Local\Temp\ipykernel_2296\918415353.py:1: DtypeWarning: Columns (36,38,46,48) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset=pd.read_csv("https://raw.githubusercontent.com/Jomuel-net/AI-finance-project/refs/heads/main/Data%20set/data_bank_alaska.csv")

In [6]:
head=dataset.head()
info=dataset.info()
print(head)
print(info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28632 entries, 0 to 28631
Data columns (total 78 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   as_of_year                      28632 non-null  int64
 1   respondent_id                   28632 non-null  object
 2   agency_name                     28632 non-null  object
 3   agency_abbr                     28632 non-null  object
 4   agency_code                     28632 non-null  int64
 5   loan_type_name                  28632 non-null  object
 6   loan_type                       28632 non-null  int64
 7   property_type_name              28632 non-null  object
 8   property_type                   28632 non-null  int64
 9   loan_purpose_name               28632 non-null  object
 10  loan_purpose                    28632 non-null  int64
 11  owner_occupancy_name            28632 non-null  object
 12  owner_occupancy                 28632 non-null  int64
 13  loan_amount_000s                28632 non-null  int64
 14  preapproval_name                28632 non-null  object
 15  preapproval                     28632 non-null  int64
 16  action_taken_name               28632 non-null  object
 17  action_taken                    28632 non-null  int64
 18  msamd_name                      22213 non-null  object
 19  msamd                           22213 non-null  float64
 20  state_name                      28632 non-null  object
 21  state_abbr                      28632 non-null  object
 22  state_code                      28632 non-null  int64
 23  county_name                     28514 non-null  object
 24  county_code                     28523 non-null  float64
 25  census_tract_number             28521 non-null  float64
 26  applicant_ethnicity_name        28632 non-null  object
 27  applicant_ethnicity             28632 non-null  int64
 28  co_applicant_ethnicity_name     28632 non-null  object
 29  co_applicant_ethnicity          28632 non-null  int64
 30  applicant_race_name_1           28632 non-null  object
 31  applicant_race_1                28632 non-null  int64
 32  applicant_race_name_2           551 non-null    object
 33  applicant_race_2                551 non-null    float64
 34  applicant_race_name_3           49 non-null     object
 35  applicant_race_3                49 non-null     float64
 36  applicant_race_name_4           24 non-null     object
 37  applicant_race_4                24 non-null     float64
 38  applicant_race_name_5           20 non-null     object
 39  applicant_race_5                20 non-null     float64
 40  co_applicant_race_name_1        28632 non-null  object
 41  co_applicant_race_1             28632 non-null  int64
 42  co_applicant_race_name_2        169 non-null    object
 43  co_applicant_race_2             169 non-null    float64
 44  co_applicant_race_name_3        17 non-null     object
 45  co_applicant_race_3             17 non-null     float64
 46  co_applicant_race_name_4        6 non-null      object
 47  co_applicant_race_4             6 non-null      float64
 48  co_applicant_race_name_5        5 non-null      object
 49  co_applicant_race_5             5 non-null      float64
 50  applicant_sex_name              28632 non-null  object
 51  applicant_sex                   28632 non-null  int64
 52  co_applicant_sex_name           28632 non-null  object
 53  co_applicant_sex                28632 non-null  int64
 54  applicant_income_000s           25327 non-null  float64
 55  purchaser_type_name             28632 non-null  object
 56  purchaser_type                  28632 non-null  int64
 57  denial_reason_name_1            2209 non-null   object
 58  denial_reason_1                 2209 non-null   float64
 59  denial_reason_name_2            503 non-null    object
 60  denial_reason_2                 503 non-null    float64
 61  denial_reason_name_3            50 non-null     object
 62  denial_reason_3                 50 non-null     float64
 63  rate_spread                     254 non-null    float64
 64  hoepa_status_name               28632 non-null  object
 65  hoepa_status                    28632 non-null  int64
 66  lien_status_name                28632 non-null  object
 67  lien_status                     28632 non-null  int64
 68  edit_status_name                0 non-null      float64
 69  edit_status                     0 non-null      float64
 70  sequence_number                 0 non-null      float64
 71  population                      28521 non-null  float64
 72  minority_population             28521 non-null  float64
 73  hud_median_family_income        28521 non-null  float64
 74  tract_to_msamd_income           28521 non-null  float64
 75  number_of_owner_occupied_units  28521 non-null  float64
 76  number_of_1_to_4_family_units   28521 non-null  float64
 77  application_date_indicator      0 non-null      float64
dtypes: float64(26), int64(19), object(33)
memory usage: 17.0+ MB
   as_of_year respondent_id                            agency_name  \
0        2017    0000451965   Consumer Financial Protection Bureau
1        2017    0000005892   National Credit Union Administration
2        2017    0000451965   Consumer Financial Protection Bureau
3        2017    0000005912   National Credit Union Administration
4        2017    92-0164378  Federal Deposit Insurance Corporation

  agency_abbr  agency_code loan_type_name  loan_type  \
0        CFPB            9  VA-guaranteed          3
1        NCUA            5   Conventional          1
2        CFPB            9    FHA-insured          2
3        NCUA            5   Conventional          1
4        FDIC            3   Conventional          1

                                  property_type_name  property_type  \
0  One-to-four family dwelling (other than manufa...              1
1  One-to-four family dwelling (other than manufa...              1
2  One-to-four family dwelling (other than manufa...              1
3  One-to-four family dwelling (other than manufa...              1
4  One-to-four family dwelling (other than manufa...              1

  loan_purpose_name  ...  edit_status_name edit_status  sequence_number  \
0     Home purchase  ...               NaN         NaN              NaN
1     Home purchase  ...               NaN         NaN              NaN
2     Home purchase  ...               NaN         NaN              NaN
3     Home purchase  ...               NaN         NaN              NaN
4     Home purchase  ...               NaN         NaN              NaN

   population minority_population  hud_median_family_income  \
0      6702.0           17.170000                   89400.0
1         NaN                 NaN                       NaN
2     11450.0           20.030001                   84800.0
3      3864.0           22.490000                   89400.0
4      1941.0           56.880001                   89400.0

  tract_to_msamd_income  number_of_owner_occupied_units  \
0             94.010002                          1651.0
1                   NaN                             NaN
2             99.690002                          2923.0
3             71.989998                           979.0
4             58.340000                           179.0

  number_of_1_to_4_family_units  application_date_indicator
0                        2219.0                         NaN
1                           NaN                         NaN
2                        3992.0                         NaN
3                        1328.0                         NaN
4                         318.0                         NaN

[5 rows x 78 columns]
None